
.projectPush {
    width: 100vw;
    height: 10vh;
}

.project-container {
    display: flex;
    flex-direction: row;
    height: 90vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    border: solid white 1px;
    .projectOne {
        width: 42%;
        margin-right: 2.5%;
    }
    .projectTwo {
        width: 42%;
        margin-left: 2.5%;
    }
    .projectsImg {
        height: 350px;
        // object-fit: cover;
    }
}


