@import '../../App.scss';

.projectPush {
    width: 100vw;
    height: 10vh;
}

.project-container {
    display: flex;
    flex-direction: row;
    height: 90vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    .personal-holder {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 42%;
        margin-right: 2.5%;
        a {
            text-decoration: none;
            color: white;
            font-family: $fontFamily;
        }
    }
    .project-photos-holder {
        width: 100%;
        margin-right: 2.5%;
    }
    .projectOne {
        width: 100%;
        margin-right: 2.5%;
    }
    .projectTwo {
        width: 42%;
        margin-left: 2.5%;
    }
    .projectsImg1 {
        height: 350px;
        background: url('../../assets/project-pics/canon-1.png');
        background-size: cover;
    }
    .projectsImg2 {
        height: 350px;
        background: url('../../assets/project-pics/canon-2.png');
        background-size: cover;
    }
    .projectsImg3 {
        height: 350px;
        background: url('../../assets/project-pics/canon-3.png');
        background-size: cover;
    }
    .projectsImg4 {
        height: 350px;
        background: url('../../assets/project-pics/canon-4.png');
        background-size: cover;
    }
    .list-holder {
        color: white;
        font-family: $fontFamily;
    }
    .projectsImg5 {
        height: 350px;
        background: url('https://images2.minutemediacdn.com/image/upload/c_fill,g_auto,h_1248,w_2220/f_auto,q_auto,w_1100/v1555278357/shape/mentalfloss/pachead.png');
        background-size: cover;
    }
    .projectsImg6 {
        height: 350px;
        background: url('https://store-images.s-microsoft.com/image/apps.39946.64038775097837221.dc6e1021-8d55-4bb8-acc7-b88fb8d47e71.39720284-ef60-49fd-bf78-a0c4938a9442?mode=scale&q=90&h=1080&w=1920');
        background-size: cover;
    }
    .projectsImg7 {
        height: 350px;
        background: url('https://www.geek.com/wp-content/uploads/2019/01/pac-man-smash-ultimate-625x352.png');
        background-size: cover;
    }
    .projectsImg8 {
        height: 350px;
        background: url('http://i2.wp.com/shoryuken.com/wp-content/uploads/2015/06/Super-Smash-Bros.-for-Wii-U-Pac-Man-Hydrant.png?fit=622%2C320&resize=750%2C400');
        background-size: cover;
    }
}


