@import '../../App.scss';

.about-push {
    width: 100vw;
    height: 10vh;
}
.about-container {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .about-img-container {
        width: 50%;
        height: 80%;
        // border: solid black 1px;
        display: flex;
        justify-content: center;
        // background: gray;
        .about-img {
            width: 55%;
            height: auto;
        }
    }
    .about-text-container {
        width: 40%;
        height: 80%;
        // border: solid black 1px;
        padding: 0% 5% 4% 0;
        color: white;
        font-family: $fontFamily;
        background: rgba(123, 122, 122, .6);
        ul {
            list-style: none;
            li {
                margin: 4% 0;
                letter-spacing: 2px;
            }
        }
    }
}

@media (min-width: 375px) {
    .about-container {
        flex-direction: column;
        .about-img-container {
            margin-top: -15%;
            margin-bottom: 10%;
            height: 50%;
            .about-img {
                width: 100%;
                height: 100%; 
            }
        }
        .about-text-container {
            padding: 0;
            width: 80%;
            height: 30%;
            ul {
                padding: 0 10px;
            }
            li {
                font-size: 10px;
                margin: 0;
            }
            .music-li {
                visibility: hidden;
            }
            .fam-li {
                visibility: hidden;
            }
        }
    }
  }
  @media (min-width: 414px) {
    
  }
  @media (min-width: 483px) {
    .about-container{
        .about-img-container {
            margin-top: -5%;
        }
        
    }
  }
  @media (min-width: 768px) {
    .about-container {
        width: 100vw;
        height: 90vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .about-img-container {
            width: 50%;
            height: 80%;
            // border: solid black 1px;
            display: flex;
            justify-content: center;
            // background: gray;
            margin: 0;
            .about-img {
                width: 55%;
                height: auto;
            }
        }
        .about-text-container {
            width: 40%;
            height: 80%;
            // border: solid black 1px;
            // padding: 0% 5% 4% 0;
            color: white;
            font-family: $fontFamily;
            background: rgba(123, 122, 122, .6);
            ul {
                list-style: none;
                li {
                    margin: 4% 0;
                    letter-spacing: 2px;
                    font-size: 12px;
                }
            }
            .music-li {
                visibility: visible;
            }
            .fam-li {
                visibility: visible;
            }
        }
    }
  }
  @media (min-width: 1024px) {
    .about-container {
        width: 100vw;
        height: 90vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .about-img-container {
            width: 50%;
            height: 80%;
            // border: solid black 1px;
            display: flex;
            justify-content: center;
            // background: gray;
            .about-img {
                width: 55%;
                height: auto;
            }
        }
        .about-text-container {
            width: 40%;
            height: 80%;
            // border: solid black 1px;
            // padding: 0% 5% 4% 0;
            color: white;
            font-family: $fontFamily;
            background: rgba(123, 122, 122, .6);
            ul {
                list-style: none;
                li {
                    margin: 4% 0;
                    letter-spacing: 2px;
                    font-size: 14px;
                }
            }
        }
    }
  }