@import '../../App.scss';

.about-push {
    width: 100vw;
    height: 10vh;
}
.about-container {
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .about-img-container {
        width: 50%;
        height: 80%;
        // border: solid black 1px;
        display: flex;
        justify-content: center;
        // background: gray;
        .about-img {
            width: 55%;
            height: auto;
        }
    }
    .about-text-container {
        width: 40%;
        height: 80%;
        // border: solid black 1px;
        padding: 0% 5% 4% 0;
        color: white;
        font-family: $fontFamily;
        background: rgba(123, 122, 122, .6);
        ul {
            list-style: none;
            li {
                margin: 4% 0;
                letter-spacing: 2px;
            }
        }
    }
}