@import '../../App.scss';

.home-push {
    height: 10vh;
    width: 100%;
}
.home-parent {
    display: flex;
    // justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
}
.home-text-container {
    height: 70%;
    width: 30%;
    margin-left: 19%;
    color: white;
    font-family: $fontFamily;
    font-size: 22px;
    @include displayCenterCenter(flex, center, center, column);
    text-align: center;
    animation-name: fadeIn;
    animation-iteration-count: 1;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    h1 {
        margin: 4% 0;
    }
}
@media (min-width: 375px) {
    .home-text-container {
        margin: -300px 0 0 25px;
        h1 {
            font-size: 18px;
        }
    }
  }
//   @media (min-width: 414px) {
    
//   }
//   @media (min-width: 483px) {
    
//   }
  @media (min-width: 768px) {
    .home-text-container {
        margin: -200px 0 0 15%;
        h1 {
            font-size: 28px;
        }
    }
  }
  @media (min-width: 1024px) {
    .home-text-container {
        margin-left: 19%;
        margin-top: -150px;
        h1 {
            font-size: 32px;
        }
    }
  }