@import '../../App.scss';

.contact-push {
    width: 100%;
    height: 10vh;
}
.contact-parent {
    width: 100%;
    height: 90vh;
    @include displayCenterCenter(flex, center, center, null)
}
.contact-container {
    height: 90%;
    width: 75%;
    // border: solid white 1px;
    @include displayCenterCenter(flex, space-evenly, null, column);
    margin-left: 25%;
    cursor: pointer;
}
.contact-icon-container {
    @include displayCenterCenter(flex, null, null, row);
    text-decoration: none;
    color: white;
    font-family: $fontFamily;
    align-items: center;
    
}
.contact-icon-container:hover {
    color: $hoverColor;
}
.contact-icon {
    font-size: 100px;
}
.contact-icon-phone {
    font-size: 100px;
    margin-left: 2%;
}
.contact-text {
    margin-left: 10%;
}

@media (min-width: 375px) {
    .contact-container {
        h1 {
            font-size: 16px;
        }
        margin-left: 0%;
    }
    .contact-icon {
        font-size: 55px;
    }
    .contact-icon-phone {
        font-size: 55px;
    }
  }
@media (min-width: 414px) {
    
  }
@media (min-width: 483px) {
    .contact-container {
        h1 {
            font-size: 18px;
        }
        margin-left: 0%;
    }
    .contact-icon {
        font-size: 75px;
    }
    .contact-icon-phone {
        font-size: 75px;
    }
  }
@media (min-width: 768px) {
    .contact-container {
        h1 {
            font-size: 24px;
        }
        margin-left: 15%;
    }
    .contact-icon {
        font-size: 85px;
    }
    .contact-icon-phone {
        font-size: 85px;
    }
  }
@media (min-width: 1024px) {
    .contact-container {
        h1 {
            font-size: 28px;
        }
        margin-left: 20%;
    }
    .contact-icon {
        font-size: 95px;
    }
    .contact-icon-phone {
        font-size: 95px;
    }
  }
@media (min-width: 1430px) {
    .contact-parent {
        width: 100%;
        height: 90vh;
        @include displayCenterCenter(flex, center, center, null)
    }
    .contact-container {
        height: 90%;
        width: 75%;
        // border: solid white 1px;
        @include displayCenterCenter(flex, space-evenly, null, column);
        margin-left: 25%;
        cursor: pointer;
    }
    .contact-icon-container {
        @include displayCenterCenter(flex, null, null, row);
        text-decoration: none;
        color: white;
        font-family: $fontFamily;
        align-items: center;
        
    }
    .contact-icon-container:hover {
        color: $hoverColor;
    }
    .contact-icon {
        font-size: 100px;
    }
    .contact-icon-phone {
        font-size: 100px;
        margin-left: 2%;
    }
    .contact-text {
        margin-left: 10%;
    }
}