@mixin viewHeight{
  width: 100%;
  height: 100vh;
  background-size: cover;
  scroll-snap-align: center;
}

body {
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

#nav {
  position: fixed;
  top: 0;
  z-index: 1;
  height: 10vh;
  background: rgba(51, 51, 51, .7);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  
}

#home {
  background: linear-gradient(90deg, rgba(65,65,65,1) 0%, rgba(86,86,86,1) 8%, rgba(168,168,168,1) 92%, rgba(207,207,207,1) 100%);
  @include viewHeight();
  
}
#about {
  background: linear-gradient(90deg, rgba(65,65,65,1) 0%, rgba(86,86,86,1) 8%, rgba(168,168,168,1) 92%, rgba(207,207,207,1) 100%);
  @include viewHeight();
}
#projects {
  background: linear-gradient(90deg, rgba(65,65,65,1) 0%, rgba(86,86,86,1) 8%, rgba(168,168,168,1) 92%, rgba(207,207,207,1) 100%);
  @include viewHeight();
}
#skills {
  background: url('./assets/dark.jpg');
  @include viewHeight();
}
#contact {
  background: url('./assets/onRock.JPG');
  @include viewHeight();
}