* {
  box-sizing: border-box;
}

$linearGradient: linear-gradient(90deg, rgba(65,65,65,1) 0%, rgba(86,86,86,1) 8%, rgba(168,168,168,1) 92%, rgba(207,207,207,1) 100%);
$fontFamily: 'PT Sans', sans-serif;
$hoverColor: rgb(130, 225, 232);

@mixin viewHeight{
  width: 100%;
  height: 100vh;
  background-size: cover;
  scroll-snap-align: center;
}

@mixin displayCenterCenter($display, $justify, $align, $direction){
  display: $display;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

body {
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

#nav {
  position: fixed;
  top: 0;
  z-index: 1;
  height: 10vh;
  background: rgba(51, 51, 51, .7);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  
}

#home {
  background: url('./assets/yellowstone.JPG');
  @include viewHeight();
}
// #home:active {
//   background: url('./assets/mckay-doom2.gif');
//   background-size: cover;
//   background-position-y: center;
// }
#about {
  // background: linear-gradient(90deg, rgba(65,65,65,1) 0%, rgba(86,86,86,1) 8%, rgba(168,168,168,1) 92%, rgba(207,207,207,1) 100%);
  background: url('https://images.unsplash.com/photo-1556610626-f0ecb76ecca9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
  @include viewHeight();
  background-color: rgba(255, 255, 255, .1);
  background-blend-mode: lighten;
}
#projects {
  // background: linear-gradient(90deg, rgba(65,65,65,1) 0%, rgba(86,86,86,1) 8%, rgba(168,168,168,1) 92%, rgba(207,207,207,1) 100%);
  background: url('https://images.unsplash.com/photo-1477346611705-65d1883cee1e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
  @include viewHeight();
  background-color: rgba(255, 255, 255, .2);
  background-blend-mode: lighten;
}
#skills {
  // background: url('./assets/dark.jpg');
  // background: $linearGradient;
  background: url('https://images.unsplash.com/photo-1571586100122-0869bd6e77c9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
  @include viewHeight();
  background-color: rgba(255, 255, 255, .3);
  background-blend-mode: lighten;
}
#contact {
  // background: $linearGradient;
  background: url('https://images.unsplash.com/photo-1441731803376-430fac71134d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
  @include viewHeight();
  background-color: rgba(255, 255, 255, .1);
  background-blend-mode: lighten;
}

@media (min-width: 375px) {
  #home {
    background-position-x: -525px;
  }
}
@media (min-width: 414px) {
  #home {
    background-position-x: -540px;
  }
}
@media (min-width: 483px) {
  #home {
    background-position-x: -540px;
  }
}
@media (min-width: 768px) {
  #home {
    background-position-x: -220px;
  }
}
@media (min-width: 1024px) {
  #home {
    background-position-x: 0px;
  }
}
