@import '../../App.scss';

#cf {
    position: relative;
    height: auto;
    width: 20%;
    margin-bottom: 4.5%;
}

#cf img {
    position: absolute;
    // webkit-transition: opacity .25s ease-in-out;
    // -moz-transition: opacity .25s ease-in-out;
    // -o-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
}
#cf img.top:hover {
    opacity:0;
  }

.top {
    width: 50%;
    height: auto;
}
.bottom {
    width: 50%;
    height: auto;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    color: white;
    list-style: none;
    font-size: 30px;
    font-family: $fontFamily;
    align-items: center;
    .a-tags {
        text-decoration: none;
        color: white;
        margin: 25px;
    }
    .a-tags:hover {
        color: $hoverColor;
    }
}

@media (min-width: 375px) {
    .nav-bar {
        li {
            visibility: hidden;
        }
    }
    .nav-icons {
        visibility: visible;
        position: absolute;
        display: flex;
        flex-direction: row;
        // margin: 0 0 0 50px;
        i {
            font-size: 28px;
            color: white;
            margin: 0 20px;
        }
    }
  }
  @media (min-width: 414px) {
    
  }
  @media (min-width: 483px) {
    .nav-icons {
        // margin-left: 75px;
        i {
            font-size: 30px;
            margin: 0 30px;
        }
    }
  }
  @media (min-width: 768px) {
    .nav-bar {
        li {
            visibility: visible;
        }
    }
    .nav-icons {
        visibility: hidden;
    }
  }
  @media (min-width: 1024px) {
    
  }
